
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.user._id}}">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.user._id}}"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok wd-glyph">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <div ng-show="model.message"
         class="alert alert-info">{{model.message}}</div>

    <form>
        <div class="form-group">
            <label id="username-label"
                   for="username">Username</label>
            <input readonly
                   class="form-control"
                   id="username"
                   ng-model="model.user.username"/>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   id="pass">
        </div>
        <div class="form-group">
            <label for="upass">Update Password</label>
            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   id="upass">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   class="form-control"
                   id="first-name"
                   ng-model="model.user.firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="last-name"
                   ng-model="model.user.lastName">
        </div>
    </form>

    <a ng-click="model.updateUser(model.user)"
       class="btn btn-success btn-block">Update</a>
    <a ng-click="model.deleteUser(model.user)"
       class="btn btn-danger btn-block">Delete User</a>
    <a class="btn btn-primary btn-block"
       href="#!/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">Logout</a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
