
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}">
            Event Details</a>
    </div>
</nav>

<div class="container-fluid wd-drop col-xs-12 col-sm-6">
    <form>
        <div class="form-group">
            <label>Title</label>
            <input readonly
                   class="form-control"
                   ng-model="model.selectedEvent.title"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text"
                   readonly
                   class="form-control"
                   ng-model="model.selectedEvent.description">
        </div>


        <div class="form-group">
            <label>Category</label>
            <ul ng-repeat="category in model.selectedEvent.categories">
                {{category.title}}
            </ul>
        </div>

        <div class="form-group">
            <label>Goals on our platform that aim to prevent such events</label>
            <ul ng-repeat="goal in model.goals">
                {{goal}}
            </ul>
        </div>

        <div class="form-group">
            <label>Date closed</label>
            <input readonly
                   type="text"
                   class="form-control"
                   ng-model="model.selectedEvent.closed">
        </div>

        <div class="form-group">
            <label>Link to outside website</label>
            <input readonly
                   type="text"
                   class="form-control"
                   ng-model="model.selectedEvent.link">
        </div>

    </form>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
