
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}">
            Search Events Using NASA's EONET</a>
    </div>
</nav>

<div class="container-fluid wd-drop col-xs-12 col-sm-6">

    <a class="btn btn-block btn-info"
       ng-click="model.searchForAllCategories()">Search for all categories of events</a>

    <div ng-show="model.categories">
        <label>Select a Category:</label>
        <div class="row">
            <div class="col-xs-4" ng-repeat="category in model.categories">
                <a ng-click="model.getCategoryDetails(category.id)">{{category.title}}</a>
            </div>
        </div>

        <label>Category Description:</label>
        <div class="row">{{model.category.description}}
        </div>

        <label>Searh for this event in the last days:</label>
        <div class="input-group">

            <input ng-model="model.days"
                   value = "days"
                   type="text"
                   class="form-control"
                   placeholder="100">
            <span class="input-group-btn">
                <a ng-click="model.searchEventInDays(model.days)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>

        <div ng-show="model.noEventsFoundMessage"
             class="alert alert-danger">{{model.noEventsFoundMessage}}</div>

        <div ng-show="model.selectedEvents">
            <label>Events for the chosen event category during the selected number of days</label>
            <div class="row">
                <div class="col-xs-6" ng-repeat="event in model.selectedEvents">
                    <a href="#!/user/{{model.userId}}/search/{{model.categoryId}}/{{event.title}}/{{model.days}}">{{event.title}}</a>
                </div>
            </div>
        </div>

        <div ng-show="model.selectedEvent">
            <label>Link to further information about the event</label>
            <div class="row">
                <a href="{{model.selectedEvent.link}}">{{model.selectedEvent.link}}</a>
            </div>
        </div>

    </div>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
