

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <p class="navbar-text">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user wd-glyph"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Profile"></span>
                </a>
            </p>
        </div>
    </div>
</nav>