

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/commitment" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}/commitment/{{model.commitmentId}}">
            Commitment Details
        </a>

        <div class="wd-glyph-block">
            <p>
                <a ng-click="model.updateCommitment(model.name, model.shareable)"
                   class="navbar-link"
                   title="Update">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </p>
        </div>

    </div>
</nav>


<div class="container-fluid wd-drop col-xs-12 col-sm-6">

    <div ng-show="model.commitFirstMessage">
        <div class="alert alert-info">
            {{model.commitFirstMessage}}
        </div>
    </div>

    <div ng-show="model.sharingSuccessfulMessage">
        <div class="alert alert-success">
            {{model.sharingSuccessfulMessage}}
        </div>
    </div>

    <div ng-show="model.successUpdateMessage">
        <div class="alert alert-success">
            {{model.successUpdateMessage}}
        </div>
    </div>

    <div ng-show="model.pleaseChangeMessage">
        <div class="alert alert-info">
            {{model.pleaseChangeMessage}}
        </div>
    </div>


    <form>
        <div class="form-group">
            <label id="commitment-name">Commitment name</label>
            <input
                   class="form-control"
                   ng-model="model.name"
                   value="model.commitment.name"/>
        </div>

        <div class="form-group">
            <label>Shareable</label>
            <input type="checkbox"
                   ng-model="model.shareable"
                   value="model.commitment.shareable"
                   class="form-control"
                   id="shareable">
        </div>

        <div class="form-group">
            <label>Users</label>
            <ul ng-repeat="u in model.committedUsers"
                class="col-xs-12">
                <ul class="col-xs-8">
                    {{u.firstName + " " + u.lastName}}
                </ul>
                <ul ng-if="(model.userId != u._id) && model.commitment.shareable"
                    class="col-xs-4 pull-right">
                    <a ng-click="model.shareWith(u._id, model.commitment._id)">Share</a>
                </ul>
            </ul>
        </div>
    </form>

</div>


<div ng-include="'views/common/footer.view.client.html'"></div>
