

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/commitment" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}/commitment/{{model.commitmentId}}">
            Commitment Details
        </a>
    </div>
</nav>


<div class="container">

    <div ng-show="model.commitFirstMessage">
        <div class="alert alert-info">
            {{model.commitFirstMessage}}
        </div>
    </div>

    <div ng-show="model.alreadySharingMessage">
        <div class="alert alert-success">
            {{model.sharingSuccessfulMessage}}
        </div>
    </div>

    <ul>
        <label>Commitment name:</label>
        <ul class="col-xs-12">{{model.commitment.name}}</ul>
    </ul>

    <ul>
        <label>Shareable</label>
        <ul class="col-xs-12">{{model.commitment.shareable}}</ul>
    </ul>

    <ul>
        <label>Users</label>
        <ul ng-repeat="u in model.committedUsers"
            class="col-xs-12">
            <ul class="col-xs-8">
                {{u.firstName + " " + u.lastName}}
            </ul>
            <ul ng-if="model.userId != u._id"
                class="col-xs-4 pull-right">
                <a ng-click="model.shareWith(u._id, model.commitment._id)">Share</a>
            </ul>
        </ul>
    </ul>
</div>