
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}/commitment/new">
            All your commitments
        </a>
    </div>
</nav>


<div class="container-fluid wd-drop col-xs-12 col-sm-6">
    <ul class="list-group">
        <li ng-repeat="commitment in model.allCommitments" class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#!/user/{{model.userId}}/commitment/{{commitment._id}}">
                        {{commitment.name}}
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>