
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}/commitment/new">
            Create a new commitment
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.createCommitment(model.commitment)" class="navbar-link">
          <span class="glyphicon glyphicon-ok wd-glyph">
          </span>
            </a>
        </p>
    </div>
</nav>


<div class="container-fluid wd-drop col-xs-12 col-sm-6">
    <div class="row">
        <div class="col-xs-12">
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   placeholder="Name"
                   ng-model="model.commitment.name"/>
            <label>Affected Eco Areas:</label>
            <ul ng-repeat="area in model.allAreas">
                <span>{{area.title}}</span>
                <input type="checkbox"
                       ng-model="area.status"
                       class="form-control"
                       id="publicCommitments">
            </ul>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>