

<div>
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           type="text"
           ng-model="model.widget.name"
           placeholder="Widget name"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           type="text"
           ng-model="model.widget.text"
           placeholder="Heading text"/>

    <label for="size">Size</label>
    <input id="size"
           class="form-control"
           type="number"
           ng-model="model.widget.size"
           placeholder="Heading size"/>
</div>
