

<div class="col-xs-12 col-sm-8">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           type="text"
           placeholder="Name"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           type="text"
           placeholder="Text"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control"
           type="url"
           placeholder="https://www.youtube.com"/>

    <label for="width">Width</label>
    <input id="width"
           class="form-control"
           type="number"
           placeholder="3"/>

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>