

<div>
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           type="text"
           ng-model="model.widget.name"
           placeholder="Name"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           type="text"
           ng-model="model.widget.text"
           placeholder="Text"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control"
           type="url"
           ng-model="model.widget.url"
           placeholder="Share URL"/>

    <label for="width">Width</label>
    <input id="width"
           class="form-control"
           type="text"
           ng-model="model.widget.width"
           placeholder="Width"/>
</div>