<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/website" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
          </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}/website/{{model.websiteId}}">
            Edit Website
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
          <span class="glyphicon glyphicon-ok wd-glyph">
          </span>
            </a>
        </p>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm-4 hidden-xs srollable-left">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="../../page/page-list.html">
                                {{website.name}}
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="name">Name</label>
            <input id="name"
                   class="form-control"
                   type="text"
                   ng-model="model.website.name"
                   placeholder="{{model.website.name}}"/>

            <label for="description">Description</label>
            <textarea id="description"
                      rows="5"
                      class="form-control"
                      ng-model="model.website.description"
                      placeholder="{{model.website.description}}"></textarea>

            <a ng-click="model.deleteWebsite(model.website._id)"
               class="btn btn-block btn-danger">
                Delete
            </a>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>