
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
          </span>
            </a>
            <a class="navbar-brand wd-navbar" href="#!/user/{{model.userId}}/website">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus wd-glyph">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-xs-8">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>