<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input ng-model="model.username"
           id="username"
           class="form-control"/>

    <label>Password</label>
    <input ng-model="model.password"
           class="form-control"/>

    <a ng-click="model.login(model.username, model.password)"
       class="btn btn-block btn-primary">
        Login
    </a>
    <a href="/auth/facebook"
       class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook Login
    </a>
    <a href="#!/register/user"
       class="btn btn-block btn-success">
        Register
    </a>
    <a href="#!/register/admin"
       class="btn btn-block btn-success">
        Register as admin
    </a>
</div>