
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar">
            User Management
        </a>
    </div>
</nav>


<div class="container-fluid">

    <div ng-show="model.alreadyRoleMessage"
         class="alert alert-danger">{{model.alreadyRoleMessage}}</div>

    <div ng-show="model.promotedMessage"
         class="alert alert-success">{{model.promotedMessage}}</div>

    <div ng-show="model.userDeletedMessage"
         class="alert alert-info">{{model.userDeletedMessage}}</div>

    <div ng-repeat="u in model.allUsers"
         class="list-group-item col-xs-12">
        <ul>
            <a href="#!/user/{{model.userId}}/manage/{{u._id}}">
                <ul class="col-xs-7 col-sm-9">Username: {{u.username}}</ul>
            </a>
            <ul class="col-xs-5 col-sm-3">
                <a ng-click="model.changeRole(u, 'admin')">
                    <span class="btn btn-block btn-sm btn-success">
                        Make Admin
                    </span>
                </a>
            </ul>
        </ul>

        <ul>
            <ul class="col-xs-7 col-sm-9">Name: {{u.firstName + " " + u.lastName}}</ul>
            <ul class="col-xs-5 col-sm-3">
                <a ng-click="model.changeRole(u, 'user')">
                    <span class="btn btn-block btn-sm btn-info">
                        Make User
                    </span>
                </a>
            </ul>
        </ul>

        <ul>
            <ul class="col-xs-7 col-sm-9">Role: {{u.userRole}}</ul>
            <ul class="col-xs-5 col-sm-3">
                <a ng-click="model.deleteUser(u)">
                    <span class="btn btn-block btn-sm btn-danger">
                        Delete
                    </span>
                </a>
            </ul>
        </ul>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
