
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar">
            Users sharing with
        </a>
    </div>
</nav>


<div class="container-fluid wd-drop col-xs-12 col-sm-6">

    <div class="input-group">
        <input ng-model="model.username"
               type="text"
               class="form-control"
               placeholder="Search by username">
        <span class="input-group-btn">
                <a ng-click="model.setToMultiUser()"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a ng-click="model.findByUsername(model.username)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
        </span>
    </div>

    <div ng-show="model.noSuchUserMessage"
         class="alert alert-danger">{{model.noSuchUserMessage}}</div>

    <div ng-if="model.single==false"
         ng-repeat="u in model.allUsers"
         class="list-group-item col-xs-12">
        <ul>
            <a href="#!/user/{{model.userId}}/details/{{u._id}}">
                <ul class="col-xs-7 col-sm-7">Username: {{u.username}}</ul>
            </a>
        </ul>

        <ul>
            <ul class="col-xs-7 col-sm-7">Name: {{u.firstName + " " + u.lastName}}</ul>
        </ul>

        <ul>
            <ul class="col-xs-7 col-sm-7">Role: {{u.userRole}}</ul>
        </ul>
    </div>



    <div ng-if="model.single==true"
         class="list-group-item col-xs-12">
        <ul>
            <a href="#!/user/{{model.userId}}/details/{{model.singleUser._id}}">
                <ul class="col-xs-7 col-sm-7">Username: {{model.singleUser.username}}</ul>
            </a>
        </ul>

        <ul>
            <ul class="col-xs-7 col-sm-7">Name: {{model.singleUser.firstName + " " + model.singleUser.lastName}}</ul>
        </ul>

        <ul>
            <ul class="col-xs-7 col-sm-7">Role: {{model.singleUser.userRole}}</ul>
        </ul>
    </div>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
