



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/manage" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left wd-glyph-left">
              </span>
            </a>
        </div>
        <a class="navbar-brand wd-navbar">
            User Details
        </a>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group">
            <label id="username-label"
                   for="username">Username</label>
            <input readonly
                   class="form-control"
                   id="username"
                   ng-model="model.managedUser.username"/>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   class="form-control"
                   id="first-name"
                   ng-model="model.managedUser.firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="last-name"
                   ng-model="model.managedUser.lastName">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   ng-model="model.managedUser.email"
                   class="form-control"
                   id="email">
        </div>
        <div class="form-group">
            <label for="publicEmail">Do you want your email to be public?</label>
            <input type="checkbox"
                   ng-model="model.managedUser.publicEmail"
                   class="form-control"
                   id="publicEmail">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password"
                   ng-model="model.managedUser.password"
                   class="form-control"
                   id="pass">
        </div>
        <div class="form-group">
            <label for="upass">Confirm Password</label>
            <input type="password"
                   ng-model="model.managedUser.password"
                   class="form-control"
                   id="upass">
        </div>
<!--        <div class="form-group">
            <label>Commitments</label>
            <ul ng-repeat="commitmentName in model.usersCommitments">
                {{commitmentName}}
            </ul>
        </div>
        <div class="form-group">
            <label for="publicCommitments">Do you want your commitments to be public?</label>
            <input type="checkbox"
                   ng-model="model.user.publicCommitments"
                   class="form-control"
                   id="publicCommitments">
        </div>
        <div class="form-group">
            <label>You are sharing commitments with</label>
            <ul ng-repeat="name in model.usersSharingWith">
                {{name}}
            </ul>
        </div>-->

    </form>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
